.btn{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 0;
  width: 176px;
  border-radius: 22px;
  border: 2px solid transparent;

  font-size: 16px;
  line-height: calc(21 / 16);
  color: $title-color;
  font-weight: 700;

  background-color: $white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover{
    color: $white;
    background-color: $btn-color;
  }

  &--active{
    color: $white;
    background-color: $btn-color;

    &:hover{
      color: $btn-color;
      background-color: $white;
      border-color: $btn-color;
    }
  }
}