.franchise-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  background-color: $section-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  min-width: 310px;
  &__button {
    position: absolute;
    top: 5px;
    right: 4px;
    width: 25px;
    height: 25px;
    border: 2px solid $upper-title;
    border-radius: 20px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      border-color: $btn-color;
      .modal__close {
        background-color: $btn-color;
        &::before {
          background-color: $btn-color;
        }
      }
    }
  }
  &__close {
    position: absolute;
    top: 9px;
    right: 3px;
    width: 14px;
    height: 3px;
    background-color: $upper-title;
    transform: rotate(45deg);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::before {
      content: '';
      position: absolute;
      top: 23px;
      right: 0;
      top: 0;
      width: 14px;
      height: 3px;
      background-color: $upper-title;
      transform: rotate(90deg);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
}

// FORM

.modal-form {
  margin: 12px auto 0 auto;
  max-width: 448px;
  @media screen and (min-width: 480px) {
    min-width: 400px;
  }

  @media screen and (max-width: 479px) {
    max-width: 400px;
  }

  &__title {
    margin-top: 10px;
    max-width: 455px;

    font-family: 'Titan One', cursive;
    font-size: 27px;
    letter-spacing: 0.04em;
    font-weight: 400;
    line-height: calc(38.93 / 34);
    text-align: center;

    color: $title-color;
  }

  &__wrapper {
    margin-bottom: 10px;
  }

  &__label {
    display: block;
    margin-bottom: 4px;

    font-weight: normal;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: #757575;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    padding: 12px 42px;
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    border-color: $icon-bg-color;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: $btn-color;
    }
    &:focus + .modal-form__icon {
      fill: $btn-color;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

    fill: $icon-bg-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__comment-label {
    display: block;
    margin-bottom: 4px;

    font-weight: normal;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: #757575;
  }

  &__textarea {
    padding: 12px 16px;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;

    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    border-color: $icon-bg-color;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      font-weight: normal;
      font-size: 12px;
      line-height: calc(14 / 12);
      letter-spacing: 0.01em;
      color: rgba(238, 77, 117, 0.5);
    }

    &:focus {
      border-color: $btn-color;
    }
  }

  &__policy-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    user-select: none;

    font-weight: normal;
    font-size: 14px;

    @media screen and (max-width: 1279px) {
      font-size: 12px;
      line-height: calc(14 / 12);
    }

    @media screen and (max-width: 479px) {
      font-size: 10px;
      line-height: calc(14 / 12);
    }

    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
  }

  &__checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 15px;
    margin-right: 7px;

    background-color: $white;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__checkbox-icon {
    width: 11px;
    height: 8px;
  }

  &__btn {
    padding-left: 52px;
  }

  &__submit-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;

    cursor: pointer;

    font-weight: bold;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    border: none;

    color: $white;
    background: $icon-bg-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  &__checkbox:checked + .modal-form__policy-text .modal-form__checkbox-wrapper {
    background-color: $icon-bg-color;
    border: none;
  }
}

.policy-link {
  position: relative;
  color: $icon-bg-color;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $icon-bg-color;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
