$wight: #ffffff;
$primary-text-color: #000000;
$secondary-text-color: #907e82;

$title-color: #d41443;
$upper-title: #ffa5ba;

$btn-color:#D41342;
$after-consumer-color:#C7133E;

$hero-bg-color: #ffb8ca;
$section-bg-color: #fff5f6;
$mob-menu-bg-color: #e17992;
$costumer-bg-color: #e1e1e1;
$icon-bg-color:#FEA5BB

$card-bg-green: #c2e297;
$card-bg-creem: #f0d1a5;
