<section class="about">
  <div class="container about__container">

    <p id="how-is-it-made" class="about__upper-title upper-title">tradition and love</p>

    <h2 class="about__title title wow bounceIn">how it’s made?</h2>

    <div class="about__content">

      <div class="about__cover">
        <picture>
          <source srcset="
          ./images/about/cow-1x-desktop.png 1x,
          ./images/about/cow-2x-desktop.png 2x" media="(min-width: 1280px)" />

          <source srcset="
          ./images/about/cow-1x-tablet.png 1x,
          ./images/about/cow-2x-tablet.png 2x" media="(min-width: 768px)" />

          <source srcset="
          ./images/about/cow-1x-phone.png 1x,
          ./images/about/cow-2x-phone.png 2x" media="(min-width: 480px)" />

          <img class="about__image" src="./images/about/cow-1x-phone.png" alt="cow and milk" width="280">
        </picture>
      </div>

      <div class="about__text">

        <p class="about__paragraf">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
          faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>

        <p class="about__paragraf">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
          orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
          massa nibh, tincidunt.

          <span class="about__paragraf--span">Aliquam erat volutpat. Aenean accumsan.</span>
        </p>

        <button type="button" class="btn">Read more <span class="btn__arrow"></span></button>

      </div>

    </div>

  </div>
</section>