<section class="contact">
  <div class="container">
    <h2 id="contacts" class="visually-hidden">Сontacts and location</h2>
    <div class="contact-cont">
      <ul class="contact-cont__list">
        <li class="contact-cont__link">
          <p class="contact-cont__text-cafe">CAFE</p>
        </li>
        <li class="contact-cont__link">
          <p class="contact-cont__text-head">Chicago</p>
          <p class="contact-cont__text-head-item">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contact-cont__link">
          <div class="contact-cont__link-container">
            <p class="contact-cont__text-day">Monday - Friday</p>
            <p class="contact-cont__text-day-time">06:00 AM - 10:00 PM</p>
          </div>
          <div>
            <p class="contact-cont__text-day">Saturday - Sunday</p>
            <p class="contact-cont__text-day-time">08:00 AM - 16:00 PM</p>
          </div>
        </li>
        <li class="contact-cont__link">
          <a class="contact-cont__link-tell" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contact-cont__link-tell" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
      <ul class="contact-cont__list">
        <li class="contact-cont__link">
          <p class="contact-cont__text-cafe text-cafe-food">FOOD TRUCK</p>
        </li>
        <li class="contact-cont__link">
          <p class="contact-cont__text-head">Los Angeles</p>
          <p class="contact-cont__text-head-item">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contact-cont__link">
          <div class="contact-cont__link-container">
            <p class="contact-cont__text-day">Monday - Friday</p>
            <p class="contact-cont__text-day-time">06:00 AM - 10:00 PM</p>
          </div>
          <div>
            <p class="contact-cont__text-day">Saturday - Sunday</p>
            <p class="contact-cont__text-day-time">08:00 AM - 16:00 PM</p>
          </div>
        </li>
        <li class="contact-cont__link">
          <a class="contact-cont__link-tell" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contact-cont__link-tell" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
      <ul class="contact-cont__list">
        <li class="contact-cont__link">
          <p class="contact-cont__text-cafe">CAFE</p>
        </li>
        <li class="contact-cont__link">
          <p class="contact-cont__text-head">New York</p>
          <p class="contact-cont__text-head-item">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contact-cont__link">
          <div class="contact-cont__link-container">
            <p class="contact-cont__text-day">Monday - Friday</p>
            <p class="contact-cont__text-day-time">06:00 AM - 10:00 PM</p>
          </div>
          <div>
            <p class="contact-cont__text-day">Saturday - Sunday</p>
            <p class="contact-cont__text-day-time">08:00 AM - 16:00 PM</p>
          </div>
        </li>
        <li class="contact-cont__link">
          <a class="contact-cont__link-tell" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contact-cont__link-tell" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <div class="contact-button">
      <ul class="contact-button__list">
        <li class="contact-button__link">
          <button class="btn cont-btn btn--active" type="button">
            Our Locations<span class="btn__arrow"></span>
          </button>
        </li>
        <li class="contact-button__link">
          <button class="btn cont-btn" type="button">
            Franchise<span class="btn__arrow"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>