<section class="section">
    <div class="container container-reviews">
        <img class="reviews__img" src="../src/images/gallery/photo1-1x-phone.jpg" alt="customer" width="85" height="85"  
        srcset="../src/images/gallery/photo1-1x-phone.jpg 1x, 
                    ../src/images/gallery/photo1-2x-phone.jpg 2x">
        <div class="reviews">
            <svg class="reviews__icon" width="54" height="40">
                <use href="../src/images/sprite.svg#quotes-icon"></use>
            </svg>
            <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <div class="reviews__dots">
            <div class="reviews__dot"></div>
            <div class="reviews__dot"></div>
            <div class="reviews__dot"></div>
        </div>
        <p class="reviews__name">Emily, Los Angeles</p>
        <ul class="reviews__btns">
            <li class="reviews__item">
                <button class="reviews__icon-main" type="button">
                    <svg width="13" height="13">
                    <use href="../src/images/sprite.svg#home-icon"></use>
                </svg></button>
            </li>
            <li class="reviews__item"><button class="reviews__btn" type="button"></button></li>
            <li class="reviews__item"><button class="reviews__btn" type="button"></button></li>
        </ul>
    </div>
</section>