<section class="section section-reviews">
    <div id="revives" class="container container-reviews">
        <div class="reviews__card">
            <img class="reviews__img" src="./images/gallery/photo1-1x-phone.jpg" alt="customer" width="85" height="85"
                srcset="./images/gallery/photo1-1x-phone.jpg 1x, 
                    ./images/gallery/photo1-2x-phone.jpg 2x">
            <div class="reviews">
                <svg class="reviews__icon" width="54" height="40">
                    <use href="./images/sprite.svg#quotes-icon"></use>
                </svg>
                <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="reviews__dot"></div>
            <p class="reviews__name">Emily, Los Angeles</p>
        </div>

        <div class="reviews__card">
            <img class="reviews__img" src="./images/gallery/photo2-1x-desktop.jpg" alt="customer" width="85" height="85"
                srcset="./images/gallery/photo2-1x-desktop.jpg 1x, 
                            ./images/gallery/photo2-2x-desktop.jpg 2x">
            <div class="reviews">
                <svg class="reviews__icon" width="54" height="40">
                    <use href="./images/sprite.svg#quotes-icon"></use>
                </svg>
                <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="reviews__dot"></div>
            <p class="reviews__name">Emily, Los Angeles</p>
        </div>

        <div class="reviews__card">
            <img class="reviews__img" src="./images/gallery/photo3-1x-desktop.jpg" alt="customer" width="85" height="85"
                srcset="./images/gallery/photo3-1x-desktop.jpg 1x, 
                            ./images/gallery/photo3-2x-desktop.jpg 2x">
            <div class="reviews">
                <svg class="reviews__icon" width="54" height="40">
                    <use href="./images/sprite.svg#quotes-icon"></use>
                </svg>
                <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="reviews__dot"></div>
            <p class="reviews__name">Emily, Los Angeles</p>
        </div>

    </div>
</section>