<section class="section section-gallery">
    <div class="container container-gallery">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="gallery "><img class="gallery__img" src="./images/gallery/ice1.jpg" alt=""></div>
        
        <div class="gallery ">
            <img class="gallery__img" src="./images/gallery/ice2.jpg" alt="">
            <img class="gallery__img" src="./images/gallery/ice3.jpg" alt="">
        </div>
        <div class="gallery ">
            <img class="gallery__img gallery__img-big" src="./images/gallery/ice-big.jpg" alt="">
            <img class="gallery__img" src="./images/gallery/ice5.jpg" alt="">
        </div>
        <div class="gallery ">
            <img class="gallery__img" src="./images/gallery/ice6.jpg" alt="">
            <img class="gallery__img" src="./images/gallery/ice7.jpg" alt="">
        </div>
        <div class="gallery gallery__up">
            <img class="gallery__img" src="./images/gallery/ice8.jpg" alt="">
            <img class="gallery__img" src="./images/gallery/ice9.jpg" alt="">
        </div>
        <div class="gallery "><img class="gallery__img" src="./images/gallery/ice10.jpg" alt=""></div>
    </div>

</section>