<section class="section section-gallery">
    <div class="container container-gallery">
        <h2 class="visually-hidden">Gallery</h2>
        <picture class="gallery">
            <source srcset="./images/gallery/galery-1x-phone.jpg 1x, 
            ./images/gallery/galery-2x-phone.jpg 2x" media="(max-width: 767px)" />
            <source srcset="./images/gallery/galery-1x-tablet.jpg 1x, 
                        ./images/gallery/galery-2x-tablet.jpg 2x" media="(min-width: 768px) and (max-width: 1279px)" />
            <source srcset="./images/gallery/galery-1x-desktop.jpg 1x, 
                            ./images/gallery/galery-2x-desktop.jpg 2x" media="(min-width: 1280px)" />
            <img class="gallery" src="./images/gallery/galery-1x-phone.jpg" alt="Gallery" />
        </picture>
    </div>

</section>