<header class="header">
    <div class=" header__container container">
        <div class="header__mob-head">
            <picture class="header__logo">
                <source srcset="./images/header/logo-1x-desktop.png 1x, ./images/header/logo-2x-desktop.png 2x">
                <img src="./images/header/logo-1x-desktop.png" alt="logo">
            </picture>
            <button class="header__menu-btn">
                <div class="header__menu-icon">
                </div>
            </button>
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a href="" class="header__link">
                        Home
                    </a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">
                        About us
                    </a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">
                        How it’s made?
                    </a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">
                        Our products
                    </a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>

        <button class="header__btn btn">Buy now</button>
    </div>


</header>