<header class="header">
    <div class=" header__container container">
        <div class="backdrop is-hidden"></div>
        <div id="mob-menu" class="mob-menu js-menu-container">

            <button aria-expanded="fals" aria-controls="mob-menu" class="mob-menu__btn-close js-close-menu">
                <div class="mob-menu__close"></div>
            </button>
            <button class="mob-menu__btn header__btn btn">
                Buy now
                <span class="btn__arrow"></span>
            </button>
            <ul class="mob-menu__list">
                <li class="mob-menu__item">
                    <a href="./index.html" class="mob-menu__link">
                        Home
                    </a>
                </li>
                <li class="mob-menu__item">
                    <a href="#revives" class="mob-menu__link">
                        About us
                    </a>
                </li>
                <li class="mob-menu__item">
                    <a href="#how-is-it-made" class="mob-menu__link">
                        How it’s made?
                    </a>
                </li>
                <li class="mob-menu__item">
                    <a href="#products" class="mob-menu__link">
                        Our products
                    </a>
                </li>
                <li class="mob-menu__item">
                    <a href="#contacts" class="mob-menu__link">
                        Contact
                    </a>
                </li>
            </ul>

        </div>
        <div class="header__mob-head">
            <a class="header__logo-link" href="./index.html">
                <svg class="header__logo-icon animate__animated animate__bounceInLeft" width="49" height="49">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
                <p class="header__logo-text animate__animated animate__headShake">icecream</p>
                <!-- <picture class="header__logo">
                    <source srcset="./images/header/logo-1x-desktop.png 1x,
                     ./images/header/logo-2x-desktop.png 2x">
                    <img src="./images/header/logo-1x-desktop.png" alt="logo">
                </picture> -->
            </a>
            <button class="header__menu-btn js-open-menu">
                <div class="header__menu-icon">
                </div>
            </button>
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a href="./index.html" class="header__link">
                        Home
                    </a>
                </li>
                <li class="header__item">
                    <a href="#revives" class="header__link">
                        About us
                    </a>
                </li>
                <li class="header__item">
                    <a href="#how-is-it-made" class="header__link">
                        How it’s made?
                    </a>
                </li>
                <li class="header__item">
                    <a href="#products" class="header__link">
                        Our products
                    </a>
                </li>
                <li class="header__item">
                    <a href="#contacts" class="header__link">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>

        <button class="header__btn btn">Buy now <span class="btn__arrow"></span></button>
    </div>


</header>