<section class="hero">
    <div class="hero__container container">

        <div class="hero__top-line">
            <h1 class="hero__title title"><span class="hero__upper-title">ice cream </br>made with</span>
                passion
            </h1>
            <div class="hero__statistic">
                <p class="hero__point"><span>16</span> cafes</p>
                <p class="hero__point"><span>23</span> food trucks</p>
            </div>
        </div>
        <div class="hero__button-box">
            <a class="btn hero__btn hero__btn--dark" href="#products">Products</a>
            <a class="btn hero__btn hero__btn--light" href="#how-is-it-made">How it’s made?</a>
        </div>
        <div class="hero__bottom-line">
            <div class="hero__milk-box">
                <picture class="hero__milk">
                    <source media="(min-width: 1280px)" srcset="./images/hero/milk-1x-desktop.png 1x, 
                                                            ./images/hero/milk-2x-desktop.png 2x">
                    <source media="(min-width: 768px)" srcset="./images/hero/milk-1x-tablet.png 1x, 
                                            ./images/hero/milk-2x-tablet.png 2x">
                    <img src="./images/hero/milk-1x-tablet.png" alt="milk">
                </picture>
                <div class="hero__text-wrapper">
                    <p class="hero__text animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed
                        do eiusmod tempor
                        incididunt ut labore
                        et</p>
                    <button class="hero__milk-btn">
                        <img class="hero__lilk-btn-img" src="./images/products/strelka-1x.jpg" alt="arrow" width="18">
                    </button>
                </div>
            </div>
            <picture class="hero__girl">
                <source media="(min-width: 1280px)" type="image/png" srcset="./images/hero/girl-1x-desktop.png 1x, 
                                                ./images/hero/girl-2x-desktop.png 2x">
                <source media="(min-width: 768px)" type="image/png" srcset="./images/hero/girl-1x-tablet.png 1x, 
                                ./images/hero/girl-2x-tablet.png 2x">

                <img src="./images/hero/girl-1x-tablet.png" alt="girl-with-icecream">
            </picture>

        </div>
        <!-- <div class="hero__circle-bg"> -->

    </div>
    </div>
</section>