<section class="products-section">
   <p class="upper-title products-title-text">100% natural</p>
   <h2 class="title products-title">products</h2>
   <div class="products__block">
      <ul class="products__list">
         <li class="products__item products__item--pink">
            <picture class="products__img">
               <source
                 srcset="
                   ../src/images/products/pic1-1x-desktop.png 1x,
                   ../src/images/products/pic1-2x-desktop.png 2x
                 "
                 media="(min-width: 1280px)"
               />
               <source
                 srcset="
                 ../src/images/products/pic1-1x-tablet.png 1x,
                 ../src/images/products/pic1-2x-tablet.png 2x
                 "
                 media="(min-width: 768px)"
               />
               <source
                 srcset="
                 ../src/images/products/pic1-1x-phone.png 1x,
                 ../src/images/products/pic1-2x-phone.png 2x
                 "
                 media="(max-width: 767px)"
               />
               <img
                 src="../src/images/products/pic1-1x-phone.png"
                 alt="Мороженка"
                 width="249"
               />
             </picture>
             <h3 class="products__card-title title">ice cream</h3>
             <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
         </li>
         <li class="products__item products__item--brown">
            <picture>
               <source
                 srcset="
                   ../src/images/products/pic2-1x-desktop.png 1x,
                   ../src/images/products/pic2-2x-desktop.png 2x
                 "
                 media="(min-width: 1280px)"
               />
               <source
                 srcset="
                 ../src/images/products/pic2-1x-tablet.png 1x,
                 ../src/images/products/pic2-2x-tablet.png 2x
                 "
                 media="(min-width: 768px)"
               />
               <source
                 srcset="
                 ../src/images/products/pic2-1x-phone.png 1x,
                 ../src/images/products/pic2-2x-phone.png 2x
                 "
                 media="(max-width: 767px)"
               />
               <img
                 src="../src/images/products/pic2-1x-phone.png"
                 alt="Мороженка"
                 width="249"
               />
             </picture>
             <h3 class="products__card-title title">ice coffee</h3>
               <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
         </li>
         <li class="products__item products__item--green">  
            <picture>
            <source
              srcset="
                ../src/images/products/pic3-1x-desktop.png 1x,
                ../src/images/products/pic3-2x-desktop.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
              ../src/images/products/pic3-1x-tablet.png 1x,
              ../src/images/products/pic3-2x-tablet.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
              ../src/images/products/pic3-1x-phone.png 1x,
              ../src/images/products/pic3-2x-phone.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../src/images/products/pic3-1x-phone.png"
              alt="Мороженка"
              width="249"
            />
          </picture>
          <h3 class="products__card-title title">milkshakes</h3>
          <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
        </li>
      </ul>
    
   </div>
</section> 
