<section>
   <p>100% natural</p>
   <h2>products</h2>
   <div class="products__block">
      <ul>
         <li>
            <picture>
               <source
                 srcset="
                   ../src/images/products/pic1-1x-desktop.png 1x,
                   ../src/images/products/pic1-2x-desktop.png 2x
                 "
                 media="(min-width: 1280px)"
               />
               <source
                 srcset="
                 ../src/images/products/pic1-1x-tablet.png 1x,
                 ../src/images/products/pic1-2x-tablet.png 2x
                 "
                 media="(min-width: 768px)"
               />
               <source
                 srcset="
                 ../src/images/products/pic1-1x-phone.png 1x,
                 ../src/images/products/pic1-2x-phone.png 2x
                 "
                 media="(max-width: 767px)"
               />
               <img
                 src="../src/images/products/pic1-1x-phone.png"
                 alt="Мороженка"
                 width="249"
               />
             </picture>
             <h3>ice cream</h3>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
         </li>
         <li>
            <picture>
               <source
                 srcset="
                   ../src/images/products/pic2-1x-desktop.png 1x,
                   ../src/images/products/pic2-2x-desktop.png 2x
                 "
                 media="(min-width: 1280px)"
               />
               <source
                 srcset="
                 ../src/images/products/pic2-1x-tablet.png 1x,
                 ../src/images/products/pic2-2x-tablet.png 2x
                 "
                 media="(min-width: 768px)"
               />
               <source
                 srcset="
                 ../src/images/products/pic2-1x-phone.png 1x,
                 ../src/images/products/pic2-2x-phone.png 2x
                 "
                 media="(max-width: 767px)"
               />
               <img
                 src="../src/images/products/pic2-1x-phone.png"
                 alt="Мороженка"
                 width="249"
               />
             </picture>
             <h3>ice coffee</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
         </li>
         <li>   <picture>
            <source
              srcset="
                ../src/images/products/pic3-1x-desktop.png 1x,
                ../src/images/products/pic3-2x-desktop.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
              ../src/images/products/pic3-1x-tablet.png 1x,
              ../src/images/products/pic3-2x-tablet.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
              ../src/images/products/pic3-1x-phone.png 1x,
              ../src/images/products/pic3-2x-phone.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../src/images/products/pic3-1x-phone.png"
              alt="Мороженка"
              width="249"
            />
          </picture></li>
          <h3>milkshakes</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
      </ul>
    
   </div>
</section> 
