<section class="products__section container">
  <p id="products" class="upper-title products__title-text">100% natural</p>
  <h2 class="title products__title">products</h2>
  <ul class="products__list">
    <li class="products__item products__item--pink">
      <picture class="products__img">
        <source srcset="
                   ./images/products/pic1-1x-desktop.png 1x,
                   ./images/products/pic1-2x-desktop.png 2x
                 " media="(min-width: 1280px)" />
        <source srcset="
                 ./images/products/pic1-1x-tablet.png 1x,
                 ./images/products/pic1-2x-tablet.png 2x
                 " media="(min-width: 768px)" />
        <source srcset="
                 ./images/products/pic1-1x-phone.png 1x,
                 ./images/products/pic1-2x-phone.png 2x
                 " media="(max-width: 767px)" />
        <img src="./images/products/pic1-1x-phone.png" alt="Мороженка" />
      </picture>
      <h3 class="products__card-title title">ice cream</h3>
      <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et. dolore magna aliqua facilisis. </p>
      <img src="./images/products/strelka-1x.jpg" class="products__hend" alt="hend" width="40" height="40">
    </li>
    <li class="products__item products__item--brown">
      <picture class="products__img">
        <source srcset="
                   ./images/products/pic2-1x-desktop.png 1x,
                   ./images/products/pic2-2x-desktop.png 2x
                 " media="(min-width: 1280px)" />
        <source srcset="
                 ./images/products/pic2-1x-tablet.png 1x,
                 ./images/products/pic2-2x-tablet.png 2x
                 " media="(min-width: 768px)" />
        <source srcset="
                 ./images/products/pic2-1x-phone.png 1x,
                 ./images/products/pic2-2x-phone.png 2x
                 " media="(max-width: 767px)" />
        <img src="./images/products/pic2-1x-phone.png" alt="Мороженка" />
      </picture>
      <h3 class="products__card-title title">ice coffee</h3>
      <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et. dolore magna aliqua facilisis. </p>
      <img src="./images/products/strelka-1x.jpg" class="products__hend" alt="hend" width="40" height="40">
    </li>
    <li class="products__item products__item--green">
      <picture class="products__img">
        <source srcset="
                ./images/products/pic3-1x-desktop.png 1x,
                ./images/products/pic3-2x-desktop.png 2x
              " media="(min-width: 1280px)" />
        <source srcset="
              ./images/products/pic3-1x-tablet.png 1x,
              ./images/products/pic3-2x-tablet.png 2x
              " media="(min-width: 768px)" />
        <source srcset="
              ./images/products/pic3-1x-phone.png 1x,
              ./images/products/pic3-2x-phone.png 2x
              " media="(max-width: 767px)" />
        <img src="./images/products/pic3-1x-phone.png" alt="Мороженка" />
      </picture>
      <h3 class="products__card-title title">milkshakes</h3>
      <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et. dolore magna aliqua facilisis. </p>
      <img src="./images/products/strelka-1x.jpg" class="products__hend" alt="hend" width="40" height="40">
    </li>
  </ul>
</section>