.contact {
  padding-bottom: 56px;
  background: $section-bg-color;
  //   background-image: linear-gradient:
}
.contact-cont__list {
  margin: 0 auto;
  padding: 43px 20px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &:nth-last-child(1) {
    margin-bottom: 54px;
  }
}

.contact-cont__link {
  //   &:not(:last-child) {
  //     margin-bottom: 25px;
  //   }
  &:nth-child(2) {
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }
  &:nth-child(3) {
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }
  &:nth-child(4) {
    margin-top: 25px;
  }
}
.contact-cont__text-cafe {
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
  background: #f0d1a5;
  border-radius: 4px;
  padding-left: 25px;
  padding-right: 25px;
}
.text-cafe-food {
  background: #c2e297;
}
.contact-cont__text-head {
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 186%;

  letter-spacing: 0.04em;
}
.contact-cont__text-head-item {
  max-width: 180px;
  font-size: 12px;
  line-height: 18px;

  color: #907e82;
}
.contact-cont__link-container {
  margin-bottom: 10px;
}
.contact-cont__text-day {
  font-size: 12px;
  line-height: 186%;
}

.contact-cont__text-day-time {
  font-size: 12px;
  line-height: 26px;

  color: #ffa5ba;
}
.contact-cont__link-tell {
  display: block;
  font-size: 12px;
  line-height: 18px;

  color: #907e82;
  &:nth-child(1) {
    margin-bottom: 5px;
  }
}
@media screen and(max-width: 480px) {
  .contact-cont__list {
    width: 100%;
  }

  //   .contact-button__list {
  //     text-align: center;
  //   }
  .contact-button__link {
    &:nth-child(1) {
      margin-bottom: 10px;
    }
    // .button {
    //   margin: 0 auto;
    // }
  }
}
@media screen and(min-width: 768px) {
  .contact-cont {
    display: flex;
    margin-bottom: 81px;
  }
  .contact-cont__list {
    // display: block;
    padding: 50px 31px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
    &:nth-child(1) {
      margin-right: 20px;
      margin-bottom: 0;
    }
    &:nth-child(2) {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  .contact-cont__link {
    &:nth-child(2) {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
    &:nth-child(3) {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
  }
  .contact-cont__text-cafe {
    font-size: 16px;
    line-height: 30px;
    border-radius: 6px;
  }
  .contact-cont__text-head {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 26px;
  }
  .contact-cont__text-head-item {
    font-size: 14px;
    line-height: 23px;
  }
  .contact-cont__link-container {
    margin-bottom: 15px;
  }
  .contact-cont__text-day {
    font-size: 14px;
    line-height: 26px;
  }
  .contact-cont__text-day-time {
    font-size: 14px;
    line-height: 26px;
  }
  .contact-cont__link-tell {
    display: block;
    font-size: 14px;
    line-height: 26px;
    &:nth-child(1) {
      margin-bottom: 10px;
    }
  }
}
@media screen and(min-width: 1200px) {
  .contact {
    // margin: 0 auto;
    padding-bottom: 88px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background: $section-bg-color;
    background-image: url('../images/contacts/contacts-1x-desktop.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/contacts/contacts-2x-desktop.png');
    }
  }
  .contact-cont {
    // margin-top: calc(-1 * 30px);
    // margin-left: calc(-1 * 30px);
    margin-bottom: 86px;
  }
  .contact-cont__list {
    padding: 50px 45px;
    &:nth-child(1) {
      margin-right: 30px;
      margin-bottom: 0;
    }
    &:nth-child(2) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
  .contact-cont__link {
    &:nth-child(2) {
      margin-bottom: 32px;
      padding-bottom: 32px;
    }
    &:nth-child(3) {
      margin-bottom: 32px;
      padding-bottom: 32px;
    }
    &:nth-child(4) {
      margin-top: 32px;
    }
  }
  .contact-cont__text-head {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
  }

  .contact-cont__text-day {
    font-size: 16px;
    line-height: 30px;
  }
  .contact-cont__text-day-time {
    font-size: 16px;
    line-height: 30px;
  }
  .contact-cont__link-tell {
    display: block;
    font-size: 16px;
    line-height: 29px;
  }
}
