.section-gallery {
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 60%, rgba(255, 245, 246, 1) 60%);
}

.gallery {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 364px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 786px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
