.hero {
  background-color: $hero-bg-color;

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 37px;
    line-height: calc(42.37 / 37);
  }

  &__upper-title {
    @include font(26px, 0.04em, 400);
    line-height: calc(29.77 / 26);
    color: $white;
  }

  &_button-box {
    display: flex;
  }

  &__btn {
    // max-width: 100%;
    height: 24px;
    @include font(8px, 0, 400);
    line-height: calc(10.42 / 8);
  }

  &__btn--darck {
  }

  //   &__circle-bg {
  //     width: 344px;
  //     height: 344px;
  //     border-radius: 50%;
  //     background-color: $upper-title;
  //   }
}
