.hero {
  background-color: $hero-bg-color;

  &__container {
    padding-top: 192px;
    padding-bottom: 160px;

    background-image: url('../images/hero/sundae-1x-phone.png'),
      url('../images/hero/ellipse-1x-phone.png');

    background-repeat: no-repeat;
    background-position: bottom right 32px, right;
  }

  &__title {
    margin-bottom: 19px;
    display: flex;
    flex-direction: column;
    font-size: 37px;
    line-height: calc(42.37 / 37);
  }

  &__upper-title {
    @include font(26px, 0.04em, 400);
    line-height: calc(29.77 / 26);
    color: $white;
  }

  &__button-box {
    display: flex;

    outline: 1px solid greenyellow;
  }

  &__btn {
    padding: 9px 15px 9px 15px;
    // max-width: 100%;
    height: 24px;
    @include font(8px, 0, 400);
    line-height: calc(10.42 / 8);

    & + & {
      margin-left: 8px;
    }

    &--dark {
      color: $white;
      background-color: $title-color;

      &:hover,
      &:focus {
        color: $title-color;
        background-color: $white;
      }
    }
  }

  &__point {
    display: flex;
    flex-direction: column;
    @include font(8px, 0, 400);
    line-height: calc(10.42 / 8);
    color: $white;

    & > span {
      font-family: 'Titan One', cursive;
      @include font(28px, 0.04em, 400);
      color: $title-color;
    }

    &:after {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $white;
    }
  }

  //   &__circle-bg {
  //     width: 344px;
  //     height: 344px;
  //     border-radius: 50%;
  //     background-color: $upper-title;
  //   }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: url(../images/hero/sundae-2x-phone.png);

    background-size: 143px;
  }
}
