.hero {
  background-color: $hero-bg-color;

  background-image: url('../images/hero/sundae-1x-phone.png'),
    url('../images/hero/ellipse-1x-phone.png');
  background-repeat: no-repeat;
  background-position: bottom right 32px, bottom 75px right -62px;

  @media screen and (min-width: 768px) {
    background-image: none;
  }

  &__container {
    padding-top: 193px;
    padding-bottom: 160px;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      padding-top: 102px;
      padding-bottom: 0px;

      background-image: url('../images/hero/sundae-1x-tablet.png'),
        url('../images/hero/ellipse-1x-tablet.png');
      background-position: bottom right 227px, bottom 46px right 133px;
    }

    @media screen and (min-width: 1280px) {
      padding-top: 171px;
      padding-bottom: 0px;
      background-image: url('../images/hero/sundae-1x-desktop.png'),
        url('../images/hero/ellipse-1x-desktop.png');
      background-position: bottom right 349px, bottom 75px right 170px;
    }
  }

  &__title {
    margin-bottom: 19px;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    line-height: calc(42.37 / 37);

    @media screen and (min-width: 768px) {
      font-size: 34px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
    }
  }

  &__upper-title {
    @include font(26px, 0.04em, 400);
    line-height: calc(29.77 / 26);
    color: $white;

    @media screen and (min-width: 768px) {
      font-size: 22px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 38px;
    }
  }

  &__top-line {
    display: flex;
    justify-content: space-between;
  }

  &__bottom-line {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__milk-box {
    display: flex;
    align-items: center;

    @media screen and (min-width: 1280px) {
      margin-left: -38px;
    }
  }

  &__text {
    margin-bottom: 7px;
    width: 114px;
    @include font(8px, 0, 400);
    line-height: calc(12 / 8);
    color: $white;

    @media screen and (min-width: 1280px) {
      font-size: 14px;
      width: 200px;
    }
  }

  &__milk-btn {
    position: relative;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1280px) {
      width: 26px;
      height: 26px;
    }

    &:hover,
    &:focus {
      transform: scale(1.15);
      background-color: #d41342;
    }

    &:before {
      content: ' ';
      position: absolute;
      width: 5px;
      height: 5px;
      border-top: 2px solid #d41342;
      border-right: 2px solid #d41342;
      top: 7px;
      left: 6px;
      transform: rotate(45deg);
      transition: border-top 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-right 250ms cubic-bezier(0.4, 0, 0.2, 1);

      @media screen and (min-width: 1280px) {
        width: 7px;
        height: 7px;
        top: 9px;
        left: 8px;
      }
    }

    &:hover::before,
    &:focus::before {
      border-top: 2px solid $white;
      border-right: 2px solid $white;
    }
  }

  &__girl {
    position: relative;

    &:hover:before,
    &:focus:before {
      opacity: 1;
    }

    &::before {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 12px;
      top: 16px;
      content: 'mmm ...';
      width: 65px;
      height: 35px;
      background-color: $white;

      font-family: 'Titan One', cursive;
      @include font(13px, 0.04em, 400);
      line-height: calc(38.93 / 34);
      color: $title-color;
      text-transform: uppercase;

      transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);

      @media screen and (min-width: 1280px) {
        left: 14px;
        top: 33px;
        width: 137px;
        height: 50px;
        font-size: 22px;
      }
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
    }

    &::after {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 12px;
      top: 16px;
      content: 'Yummy!';
      width: 65px;
      height: 35px;
      background-color: $white;

      font-family: 'Titan One', cursive;
      @include font(13px, 0.04em, 400);
      line-height: calc(38.93 / 34);
      color: $title-color;
      text-transform: uppercase;

      transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1) 700ms;

      @media screen and (min-width: 1280px) {
        left: 14px;
        top: 33px;
        width: 137px;
        height: 50px;
        font-size: 22px;
      }
    }
  }

  &__button-box {
    margin-bottom: 19px;
    display: flex;

    @media screen and (min-width: 1280px) {
      margin-bottom: 56px;
    }
  }

  &__btn {
    padding: 9px 15px 9px 15px;
    height: 24px;
    @include font(8px, 0, 400);
    line-height: calc(10.42 / 8);
    border: 1px solid transparent;

    @media screen and (min-width: 1280px) {
      padding: 13px 21px 13px 21px;
      font-size: 14px;
      height: 40px;
    }

    & + & {
      margin-left: 8px;
    }

    &--dark {
      color: $white;
      background-color: $title-color;

      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: $after-consumer-color;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(26, 2, 2, 0.14),
          0px 1px 3px rgba(0, 0, 0, 0.12);
      }
    }

    &--light {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: $title-color;
        background-color: #ecebeb;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(26, 2, 2, 0.14),
          0px 1px 3px rgba(196, 196, 196, 0.12);
      }
    }
  }

  &__point {
    margin-right: 10px;
    display: none;
    position: relative;
    flex-direction: column;
    @include font(8px, 0, 400);
    line-height: calc(10.42 / 8);
    color: $white;
    text-align: right;

    & + & {
      margin-top: 13px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 0;
      font-size: 14px;
    }

    & > span {
      position: relative;
      z-index: 1;
      font-family: 'Titan One', cursive;
      @include font(28px, 0.04em, 400);
      color: $title-color;

      @media screen and (min-width: 1280px) {
        font-size: 46px;
      }

      &:hover,
      &:focus {
        text-shadow: 1px 1px $primary-text-color, 3px 3px 5px $white;
      }
    }

    &:after {
      position: absolute;
      left: 35px;
      top: -1;
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $white;

      @media screen and (min-width: 1280px) {
        width: 30px;
        height: 30px;
        left: 60px;
      }
    }
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    @media screen and (min-width: 768px) {
      background-image: url(../images/hero/sundae-2x-tablet.png),
        url(../images/hero/ellipse-2x-tablet.png);

      background-size: 143px, 324px;
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/hero/sundae-2x-desktop.png),
        url(../images/hero/ellipse-2x-desktop.png);

      background-size: 236px, 538px;
    }
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/sundae-2x-phone.png),
      url(../images/hero/ellipse-2x-phone.png);

    background-size: 171px, 346px;

    @media screen and (min-width: 768px) {
      background-image: none;
    }
  }
}

.hero__girl::before:hover {
  opacity: 1;
}
